/* Fonts Geral */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins"; /* fonte escolhida do texto */ 
    color: #000000; /* cor do texto  */
    background: #a59c9c; /* cor de fundo/parede */
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover { /* cod para mudar a cor ao passar o mouse */
    color: rgb(78, 78, 78);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
}

/* Cabeçalho = header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #7e7777;
    transition: all ease-in-out 2s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto; /* barra de rolagem  */
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 200px;
    border: 3px solid #000000;
    box-shadow: 0px 0px 15px #ffffff;
}

.text-light a {
    font-family: 'Playfair Display';
    font-weight: 900;
    color: #000000;
    font-size: 30px;
}

.text-light a:hover {
    color: rgb(78, 78, 78);
    transition: all .2s;
}

#header .perfil .social-links i {
    font-size: 20px;
    color: #000000;
    background: #a59c9c;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}

#header .perfil .social-links i:hover {
    color: rgb(78, 78, 78);
    background: #000000;
    transition: all 0.3s;
}

/* fim header */
#main {
    margin-left: 300px;
}

.container, .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

/* navigation menu  */
/* desktop navigation */ 
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #000000;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

/* icones menu  */
.nav-menu a i, .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #a59c9c;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover>a i {
    color: #a59c9c;
}

/* mobile menu */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background: rgb(56, 48, 48);
    color: rgb(161, 151, 151);
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Resolução Mobile  */
@media (max-width: 1199px) /* max-width = resolução ate o valor que eu quiser */  {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0; 
    }

    .container, .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Hero */ 
#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg);
    background-size: cover;
}

#hero::before {
    content: "";
    background: rgba(255, 245, 245, 0.247);
    position: absolute;
    inset: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(0, 0, 0);
}

#hero p {
    color: rgb(0, 0, 0);
    margin-bottom: 2px;
    font-size: 24.5px;
}

#hero p span {
    color: rgb(0, 0, 0);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid rgb(0, 0, 0);
} 